apiVersion: v1
kind: Service
metadata:
  name: server
  namespace: selectchatgpt
  labels:
    app: server
spec:
  selector:
    app: server
  ports:
    - name: http
      port: 3001
      targetPort: 3001
  type: ClusterIP
